
@{

    Layout = "~/Views/Shared/Layout.cshtml";

}

<div class="mt-4 mb-3 m-lg-4">
    <h5>Seja Bem Vindo Ao Projeto de Cadastro de Usuario.</h5>
</div>

<div class="d-flex justify-content-start ">
    <div>
        <ul class="list-group ">
            <li class="list-group-item active h5">Tecnologias Utilizadas</li>
            <li class="list-group-item h6">C# .Net - MVC</li>
            <li class="list-group-item h6">Dapper</li>
            <li class="list-group-item h6">Bootstrap</li>
        </ul>
    </div>
</div>
